@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
a {
  text-decoration: none;
}
.nav-font-style,
.nav > a,
.chart > a {
  /* font style */
  font-size: 0.813rem;
  line-height: 0.938rem;
  letter-spacing: 0.088rem;
  text-transform: uppercase;
  color: #000000;
}
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}
.header {
  /* element size */
  width: 100%;
  max-width: 1440px;
  height: 75px;
  /* position */
  position: relative;
  margin: 0 auto;
  /* flex */
  display: flex;
  flex-flow: column nowrap;
}
.nav {
  /* size */
  height: 100%;
  /* position */
  position: absolute;
  margin-left: 50px;
  /* flex */
  display: flex;
  align-items: center;
}
.nav a + a {
  margin-left: 24px;
}
.logo {
  position: absolute;
  top: 29px;
  left: 620px;
}
.chart {
  /* element size */
  height: 100%;
  /* position */
  position: absolute;
  margin-left: 1293px;

  /* flex */
  display: flex;
  align-items: center;
}
/* hover style for header elements */
.nav-hover {
  transition-property: color;
  transition-duration: 0.9s;
}
.nav-hover:hover {
  transition-property: color;
  transition-duration: 0.7s;
  color: rgb(146, 146, 146);
}
.cover {
  position: absolute;
  top: 76px;
  height: 504px;
  width: 100%;
  background-image: url(/images/Background.svg);
  background-size: cover;
}
