@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  /* font colors */
  --black: #000000;
  --wite: #ffffff;
  --sub-text-color: #a0a0a0;
  --hover-font-color: #707a7f;

  /* blocks colors */
  --body-bg-color: #e5e5e5;
  --block-bg-color: #9aa8b1;
  --footer-bg-color: #f9f9f9;

  /* transition duration */
  --transition-time: 0.3s;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

/* ! Page */
.page {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;

  background-color: var(--body-bg-color);
}

/* ! Container */
.container {
  /* element size */
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  background-color: var(--wite);
}

/* ! Header */
/* .header {
  background-color: var(--wite);
} */

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 30px 50px;
}

/* ! Nav */
.nav-link,
.chart-link {
  position: relative;
  /* font style */
  font-size: 0.813rem;
  line-height: 0.938rem;
  letter-spacing: 0.088rem;
  text-transform: uppercase;
  color: var(--black);

  transition: all var(--transition-time);
}

.nav-link:nth-child(2) {
  margin-left: 24px;
}

.nav-link:hover,
.chart-link:hover {
  transition: all, var(--transition-time) ease;
  color: var(--hover-font-color);
}

.nav-link.active::after,
.chart-link.active::after,
.container-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.333rem;
  left: -1px;

  background-color: var(--black);
}

/* !Cover */
.cover {
  max-width: 100%;
  height: 504px;
  padding-top: 200px;

  /* background */
  background: black url(../images/Background.svg) no-repeat center;
  background-size: cover;

  /* font style */
  color: var(--wite);
}
.cover-content,
.container-content {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.cover-title {
  margin-bottom: 12px;
  /* font style */
  font-weight: 400;
  font-size: 43px;
  line-height: 46px;
  text-align: center;
}
.cover-subtitle {
  margin-bottom: 28px;
  /* font style */
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
}
.cover-link {
  display: inline-block;
  position: relative;
  max-width: 95px;
  /* font style */
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.4px;
  color: var(--wite);

  transition: all var(--transition-time);
}

.cover-link:hover {
  color: var(--hover-font-color);
  transition: all var(--transition-time) ease;
}
.cover-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.333rem;
  left: -1px;

  background-color: var(--wite);
}

/* * Items-container */
.items-container {
  padding: 80px 50px 0 50px;
}
.container-title {
  margin-bottom: 23px;

  /* font style */
  font-size: 43px;
  line-height: 58px;
  text-align: center;
}
.container-subtitle {
  margin-bottom: 26px;

  /* font style */
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px;
  color: var(--sub-text-color);
}
.container-link {
  position: relative;
  display: inline-block;
  margin-bottom: 81px;

  /* font style */
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--black);
}

/* * Inner-container */
.inner-container {
  display: flex;
  flex-flow: row wrap;
}
.image:first-child {
  margin-right: 25px;
}
.image > img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
