@font-face {
  font-family: "Roboto";
  src: url(../font/Roboto-Regular.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

:root {
  /* font colors */
  --black: #000000;
  --wite: #ffffff;
  --sub-text-color: #a0a0a0;
  --hover-font-color: #707a7f;

  /* blocks colors */
  --body-bg-color: #e5e5e5;
  --block-bg-color: #9aa8b1;
  --footer-bg-color: #f9f9f9;

  /* transition duration */
  --transition-time: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

/* ! Page */
.page {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;

  background-color: var(--body-bg-color);
}

/* ! Container */
.container {
  /* element size */
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  background-color: var(--wite);
}

/* ! Header */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 30px 50px;
}

/* * Nav */
.nav-link,
.chart-link {
  position: relative;
  /* font style */
  font-size: 0.813rem;
  line-height: 0.938rem;
  letter-spacing: 0.088rem;
  text-transform: uppercase;
  color: var(--black);

  transition: all var(--transition-time);
}

.nav-link:nth-child(2) {
  margin-left: 24px;
}

.nav-link:hover,
.chart-link:hover {
  transition: all, var(--transition-time) ease;
  color: var(--hover-font-color);
}

.nav-link.active::after,
.chart-link.active::after,
.container-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.333rem;
  left: -1px;

  background-color: var(--black);
}

/* * Cover */
.cover {
  max-width: 100%;
  height: 504px;
  padding-top: 200px;

  /* background */
  background: black url(../images/Background.svg) no-repeat center;
  background-size: cover;

  /* font style */
  color: var(--wite);
}
.cover-content,
.container-content {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.cover-title {
  margin-bottom: 12px;

  /* font style */
  font-weight: 400;
  font-size: 2.688rem;
  line-height: 46px;
  text-align: center;
}

.cover-subtitle {
  margin-bottom: 28px;

  /* font style */
  font-size: 0.938rem;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
}

.cover-link {
  display: inline-block;
  position: relative;
  max-width: 95px;

  /* font style */
  font-size: 0.813rem;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.4px;
  color: var(--wite);

  transition: all var(--transition-time);
}

.cover-link:hover {
  color: var(--hover-font-color);
  transition: all var(--transition-time) ease;
}

.cover-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -0.333rem;
  left: -1px;

  background-color: var(--wite);
}

/* * Items-container */
.items-container {
  padding: 80px 50px 0 50px;
}

.container-title {
  margin-bottom: 23px;

  /* font style */
  font-size: 2.688rem;
  line-height: 58px;
  text-align: center;
}

.container-subtitle {
  margin-bottom: 26px;

  /* font style */
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px;
  color: var(--sub-text-color);
}

.container-link {
  position: relative;
  display: inline-block;
  margin-bottom: 81px;

  /* font style */
  font-size: 0.813rem;
  line-height: 21px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--black);
}

/* * Inner-container */
.inner-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.image:first-child {
  margin-right: 25px;
}

.image > img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.figure-content {
  width: 658px;
  margin-bottom: 130px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding-top: 48px;
}

.figure-title {
  margin-bottom: 23px;

  /* font style */
  font-size: 1.688rem;
  line-height: 30px;
  text-align: center;
}

.figure-content > a {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

/* * Slider-container */
.inner-slider-container {
  min-width: 0;
  padding: 0 50px;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  overflow: hidden;
}

.slider-content {
  /* ! test value */
  margin-bottom: 50px;
}

.slider-title {
  /* size */
  margin-bottom: 16px;

  /* font style */
  font-size: 2.063rem;
  line-height: 36px;
  text-align: center;
  color: var(--black);
}

.slider-subtitle {
  /* font style */
  font-size: 0.938rem;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.8px;
  color: var(--sub-text-color);
}

/* !Swiper */
.wrapper {
  max-width: 100%;
}

/* * Swiper pagination */
.swiper-pagination {
  padding: 4px 0;
  margin-bottom: 24px;

  position: relative;
}

.swiper-pagination-bullet {
  /* size */
  width: 7px;
  height: 7px;

  border-radius: 0;
  background-color: var(--black);
}

/* * Swiper slide */
.swiper-slide {
  max-width: 310px;
}

.slider-image > img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

/* * Swiper slide features */
.features {
  margin: 23px 0 95px 0;
}

.item-name,
.item-price {
  font-size: 0.813rem;
  line-height: 21px;
  letter-spacing: 0.7px;
  color: var(--sub-text-color);
}

.item-price {
  font-size: 0.75rem;
}

/* * Second cover block */
.sec-cover {
  margin-bottom: 116px;
  background: url(../images/Background_2.svg) no-repeat center;
  background-size: cover;
}

.sec-cover-link:hover {
  color: var(--wite);
}

/* * Inner flex container */
.inner-flex-container {
  padding: 0 50px;

  /* flex */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 23px;

  /* font style */
  font-size: 2.125rem;
  line-height: 36px;
  text-align: center;
}

.sub-text {
  max-width: 780px;
  margin-bottom: 23px;

  /* font style */
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.8px;
  color: var(--sub-text-color);
}

.inner-flex-container-img {
  margin-bottom: 38px;
}

.inner-flex-container-img > img {
  max-width: 100%;
  object-fit: cover;
  /* object-position: center; */
}

/* * Photos wrapper */
.photos-wrapper {
  margin: 79px 0 124px 0;
  max-width: 100%;

  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.photo {
  margin-right: 20px;
}

.photo:last-child {
  margin-right: 0px;
}

.title:last-child {
  margin-bottom: 44px;
}

/* * Benefits */
.benefits {
  width: 100%;
  padding: 120px 0;
  margin-bottom: 39px;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  background-color: var(--block-bg-color);
}

.benefits-logo {
  max-width: 100%;
  margin-bottom: 24px;
}

.benefits-title {
  margin-bottom: 23px;

  /* font style */
  font-size: 2.688rem;
  line-height: 3.625rem;
}

.benefits-subtext {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.benefits-title,
.benefits-subtext {
  text-align: center;
  color: var(--wite);
}

/* ! Footer */
.footer-container {
  position: relative;
  padding: 0 50px 28px 50px;

  background-color: var(--footer-bg-color);
}

.logo-box {
  width: 82px;
  height: 82px;
  margin-left: auto;
  position: relative;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--black);
}

.footer-links {
  display: block;
  max-width: 159px;
  padding-top: 77px;

  /* flex */
  display: flex;
  flex-flow: column nowrap;
}

.footer-links > a {
  margin-bottom: 16px;

  /* font style */
  font-size: 1.375rem;
  line-height: 1.5rem;
  color: var(--black);

  /* transition */
  transition: color var(--transition-time) ease;
}

.footer-links > a:hover {
  color: var(--hover-font-color);
  transition: color var(--transition-time) ease;
}

/* * Newsletter */
.newsletter {
  max-width: 348px;

  /* position */
  position: relative;
  left: 183px;
  bottom: 280px;

  border-bottom: var(--black) 1px solid;
}

.newsletter-title {
  margin-bottom: 23px;

  /* font style */
  font-size: 1.375rem;
  line-height: 1.5rem;
}

.newsletter-text {
  margin-bottom: 92px;

  /* font style */
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: 0.05rem;

  color: var(--sub-text-color);
}

/* * Address */
.address {
  font-style: normal;

  display: flex;
  justify-content: flex-end;
}

.address-copyright,
.address-p,
.address-link {
  display: inline-block;
  margin-right: 38px;

  /* font-style */
  font-size: 0.813rem;
  line-height: 0.938;
  color: var(--hover-font-color);
}

.address-p:last-child {
  margin-right: 0;
  color: var(--black);
}

/* ! Popup window */
.popup {
  /* position */
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;

  /* element size */
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  /* hide popup */
  opacity: 0;
  visibility: hidden;

  /* transition */
  transition: all 0.3s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;

  /* transition */
  transition: all 0.3s ease 0s;
}

.popup-body {
  min-height: 100%;
  padding: 30px 10px;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  max-width: 800px;
  padding: 30px 20px;
  /* height: auto; */
  position: relative;

  background-color: var(--wite);

  /* font style */
  color: var(--black);
}

.popup-title {
  margin: 15px 0;
}

.popup-text {
  margin-bottom: 20px;
}

.popup-colose-btn {
  position: absolute;
  right: 20px;
  top: 15px;

  cursor: pointer;
}

.popup-btn {
  /* element size  */
  width: 150px;
  height: 30px;

  background-color: var(--black);
  border: none;

  /* font style */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: var(--wite);
}

[data-popup-is-active="true"] {
  overflow-y: hidden;
}

/* ! To top btn */
.to-top-btn {
  /* position */
  position: fixed;
  bottom: 20px;
  left: 90%;
  z-index: 1;

  /* flex */
  display: flex;
  align-items: center;
  justify-content: center;

  /* size */
  width: 60px;
  height: 60px;

  /* style */
  border-radius: 50%;
  background-color: var(--body-bg-color);
  opacity: 0.7;

  /* transition */
  transition: all var(--transition-time) ease;
}

.to-top-btn > image {
  max-width: 100%;
  max-height: 100%;
}

.to-top-btn:hover {
  opacity: 1;
  transition: all var(--transition-time) ease;
}

/* ! Media */

/* Breakpoints: 
  1440px
  1024px
  768px
  512px
  320px
*/

@media (max-width: 1440px) {
  /* * Photos wrapper */
  .photos-wrapper {
    max-width: 800px;
    justify-content: space-between;
  }

  .photo {
    margin: 10px 0;
  }
}

@media (max-width: 1368px), (max-width: 1024px) {
  .image:first-child {
    margin-right: 0;
    order: 1;
  }

  .figure-content {
    margin-bottom: 100px;
  }

  .figure-content:first-child {
    order: 2;
  }

  .image:last-child {
    order: 3;
  }

  .figure-content:last-child {
    order: 4;
  }
}

@media (max-width: 768px) {
  /* * Footer */
  .footer-links {
    padding-top: 20px;
  }

  .newsletter {
    display: none;
  }

  .address {
    justify-content: center;
  }
}

@media (max-width: 512px) {
  /* * Header */
  .flex-container {
    justify-content: center;
    padding: 20px 20px;
  }

  .nav-link:nth-child(2) {
    margin: 0 14px;
  }

  .logo {
    margin: 20px;
    order: 1;
  }

  .nav {
    order: 2;
  }

  .chart {
    order: 2;
  }

  /* * Photos wrapper */
  .photos-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .photo {
    margin: 10px 0 0 0;
  }

  /* ! Titles and text size */
  .cover-title,
  .container-title,
  .benefits-title {
    font-size: 1.875rem;
  }

  .title {
    font-size: 1.563rem;
  }

  .sub-text p {
    font-size: 0.875rem;
  }

  .benefits-subtext {
    font-size: 0.75rem;
  }

  .footer-links a {
    font-size: 0.938rem;
  }

  .address-copyright,
  .address-p,
  .address-link {
    font-size: 0.5rem;
  }

  .to-top-btn {
    width: 50px;
    height: 50px;
    left: 80%;
  }
}

@media (max-width: 375px) {
  .items-container,
  .inner-slider-container,
  .inner-flex-container,
  .footer-container {
    padding: 0 20px;
  }

  .footer-container {
    padding-bottom: 28px;
  }
}
